rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /items/{userId}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }

    match /profiles/{userId}.jpg {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }
  }
}
